<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
<br>---------------------------------------------------------------------------------------------------------------------</br>
<h1 style="color:Orange;">Hello, fellow Synth Lords!</h1>
<h1 style="color:Orange;">Enter, gaze upon the list of the Masters!</h1>
<a style="font-size:185%;"href="/synthesizers/">List of Synths</a> <span style="color:Maroon;">| | | </span><a style="font-size:185%;"href="/musicians/">List of Musicians</a>
<br></br>
<br>---------------------------------------------------------------------------------------------------------------------</br>
