<a style="font-size:111%;"href="/synthesizers/">List of Synths</a> <a style="font-size:111%;"href="/musicians/">List of Musicians</a>
<h1>Hello, fellow Synth Lords!</h1>
<h2>Enter, gaze upon the list of the Masters!</h2>
